# IntelliJ project files
.idea/
*.iml
# Mac system files
.DS_Store
# Node modules
node_modules/
# Build output
/dist/
/build/
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Misc
coverage/

# Optional: ignore Vite cache
.vite/

# Ignore all XML files
*.xml

# JetBrains IDE default ignored files
/shelf/
/workspace.xml
/httpRequests/
/mavenHomeManager.xml
/dataSources/
/dataSources.local.xml
